numpy==1.24.4
librosa==0.10.1
matplotlib==3.7.2
streamlit==1.40.0
soundfile==0.13.1
scipy==1.10.1
scikit-learn==1.5.1
Pillow==9.5.0
tensorflow==2.15.0
keras==2.15.0
h5py==3.10.0
firebase-admin==6.2.0
Pyrebase4==4.5.0
requests==2.27.1
urllib3==1.26.15
requests-toolbelt==0.10.1
cryptography==41.0.7
audioread==3.1.0
numba==0.57.1
python-dateutil==2.9.0
pytz==2024.1